    .aboutname {
        display: flex;
        flex-wrap: wrap;
        /* margin: 100px 100px; */
        text-align: center;
        justify-content: center;
        margin: 50px auto;
    }
    
    .cards {
        height: 100%;
        /* width: 300px; */
        margin: 40px 30px;
        overflow: hidden;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    .cards img {
        width: 250px;
        height: 230px;
        /* margin: 15px; */
    }
    
    .card-info {
        text-align: center;
        margin: 20px;
    }
    
    .button {
        border: 1 solid black;
        padding: 5px 10px;
        background-color: white;
        border-radius: 10px;
    }
    
    .button:hover {
        background-color: black;
        color: white;
    }
    /* @media (max-width:1150px) {
        .aboutname {
            margin: 50px 50px;
        }
    }
     */
    /* @media (max-width:1050px) {
        .aboutname {
            margin: 25px 25px;
        }
    } */
    
    @media (max-width:986px) {
        .cards {
            margin: 20px 15px;
        }
    }
    
    @media (max-width:886px) {
        .cards img {
            width: 200px;
            height: 210px;
            /* margin: 15px; */
        }
    }
    
    @media (max-width:886px) {
        .cards img {
            width: 170px;
            height: 140px;
            /* margin: 15px; */
        }
    }
    
    @media (max-width:404px) {
        .cards img {
            width: 140px;
            height: 110px;
        }
        .cards {
            width: 140px;
        }
    }
    
    @media (max-width:360px) {
        .cards img {
            width: 90px;
            height: 90px;
            /* margin: 15px; */
        }
        .cards {
            width: 90px;
        }
        .card-info {
            text-align: center;
            margin: 0px;
            font-size: 14px;
        }
    }