textarea {
    margin: 20px 0px;
}

.btnss button {
    margin-right: 30px;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.char {
    display: flex;
    justify-content: space-between;
}